/*general*/
body{
    font-family: 'arial', serif;
    padding: 0px;
    margin: 0px;
    width: 100%;
     background-color: #fff;
}
nav{
        color: #fff;
    padding: 2em 2em;
}

.navbar-brand{
    margin-left: 1em;
}

.title {
    font-size: 5rem;
    margin-top:2em;
    font-weight: bolder;
}

.yellowbar{
    background-color: #ffc800b0;
    color: white;
}
.menuside{
    background-color: #3d4a61;
    color: white;
    list-style: none;
    /* height: 100vh; */
    align-self: stretch;
}
.menuside li{
    list-style: none;

}
.brand{
    text-align: center;
}
.brand img{
    border-radius: 100%;
    margin: 1em;
}
.brand h3{color: white;
    font-size: 1rem;}

.contenido{
    background-color: #dfdfdf;
    padding: 1em;
}
.col{
    border: none;
}
.card {
    padding: 0.8em;
    margin-bottom: 1em;
}
.badging{
    justify-items: stretch;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}
.barmenu li a{
    color: white;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;

}
.red{
    background-color: red;
}


/*fondo hero*/
.fondo{

      position: absolute;
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-size: cover;
    background-color: #455d7173;
    z-index: -1;
    background-image: url(../img/home-bg.jpg);
}



.fondo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-color: #404040;
    opacity: 0.75;
}
/*principal*/

.principal {
      min-height: 29rem;
    color: #fff;
    text-align: center;
}

.tarjeta{
    border-bottom: 1px solid gray;
    padding: 2em;
}
.tarjeta h3{
        font-weight: bolder;    font-size: 36px;font-weight: 800;}
.tarjeta p{
        font-size: 1.75rem;
}
.tarjeta small{
    font-size: 1rem; 
}
.mainbutton{
    padding-top: 2em;
    padding-bottom: 3em;
}
.nav-link {
    color: white!important;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .active a{
    color: white; 
    font-weight: bolder;
    text-decoration: underline;
}
/*about*/
.fondoAbout{

      position: absolute;
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-size: cover;
    background-color: #455d7173;
    z-index: -1;
    background-image: url(../img/about-bg.jpg);
}



.fondoAbout:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-color: #404040;
    opacity: 0.75;
}
.aboutext p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-family: serif;
}

.list-inline-item a{
    margin-top: 2em;
    color: black;
}
.list-inline-item{
        margin-top: 2em;
}
@media screen and (max-width:480px){
   .title {
    font-size: 5rem;
    margin-top: 1em;
    font-weight: bolder;
}
}

@media screen and (max-width:767px){
   .title {
    font-size: 5rem;
    margin-top: 1em;
    font-weight: bolder;
}
}
    
@media screen and (max-width:992px) {
   .navbar{
        background-color: white;
    color: black;
   }
   .navbar-light .navbar-nav .active a, .navbar-light .navbar-nav a {
       color: black!important;
    font-weight: bolder;
    /* text-decoration: underline; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: .8rem;
}
}

@media all and (min-width:1024px){
   
}